<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var statsContainer = document.getElementById("stats-container");
            fetch("/get-stats")
                .then(response => response.json())
                .then(data => {
                    var statsHtml = "<ul>";
                    for (var key in data) {
                        statsHtml += "<li>" + data[key]["name"] + " - " + data[key]["search_count"] + "</li>";
                    }
                    statsHtml += "</ul>";
                    statsContainer.innerHTML = statsHtml;
                })
                .catch(error => {
                    console.log("Error:", error);
                });
        });
    </script>
</head>
<body>
    <div id="app-container" class="container">
        <h1>Статистика поиска</h1>
        <button id="get-stats-button">Обовить статистику</button>
        <div id="stats-container"></div>

        <script>
            document.getElementById("get-stats-button").addEventListener("click", function() {
            var statsContainer = document.getElementById("stats-container");
            fetch("/get-stats")
                .then(response => response.json())
                .then(data => {
                    var statsHtml = "<ul>";
                    for (var key in data) {
                        statsHtml += "<li>" + data[key]["name"] + " - " + data[key]["search_count"] + "</li>";
                    }
                    statsHtml += "</ul>";
                    statsContainer.innerHTML = statsHtml;
                })
                .catch(error => {
                    console.log("Error:", error);
                });
            });
        </script>
    </div>
</body>
</html>
